.right {
    background-color: #D02C23;
    width: 49vw;
    height: 95vh;
    float: right;
}
.left {
  background-color: blue;
  width: 49vw;
  height: 95vh;
  float: left;
}
.white {
  background-color: white;
  width: 12px;
  height: 50vh;
  display: block;
  margin-left: 48%;
  margin-top: 16%;
}
.red {
  background-color: #D02C23;
  width: 59vh;
  height: 12px;
  display: block;
  margin-left: 16%;
  margin-top: 39%;
  background: linear-gradient(to left, #D02C23 , blue);
  transform: rotate(-45deg);
}
.text {
  color: #EDD433;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
h3 {
  letter-spacing: 5px;
  font-size: 1em;
}
article{
  font-size: .2em;
  width: 200px;
  margin-left: 35%;
}
.pulp {
  margin-top: 15%;
}
.superman {
  margin-top: 43%;
}
